
h1 {
	color: white; 
	background-color: grey;
}
h2 {
	color: white;
}
p {
	color: white;
}
body {
	background: black; font-family: calibri; color: white; text-align: center;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

ul { text-align: center;
}

ul {
  padding: 10px;
}

li {
	display: inline;
	padding: 0px 5px 0px 10px;
}

img {
  margin:
  40px 10px 30px 10px;
}
